<footer class="footer">
    <p>&copy; 2025 SkyCheck | powered by</p>
    <a href="https://www.weatherapi.com/" target="_blank">
        <img src="/images/api-logo.png" alt="API Logo" class="api-logo">
    </a>
</footer>
</body>
</html>
